  <%layout('layouts/boilerplate') -%>
  <body>
    
    <div class="row mt-3 mb-5">
      <div id="new-Form" class="col-6 offset-3">
      <h2>Create New Listing</h2>
      <form 
      action="/listings" 
      method="POST" 
      class="needs-validation" 
      novalidate
      enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            placeholder="Enter A Catchy Title"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title Look Good</div> 
          <div class="invalid-feedback">Title is required</div>
        </div>
        <div class="mb-3">
          <label for="desciption" class="form-label">DesCription</label>
          <textarea
            name="listing[description]"
            rows="3"
            placeholder="Write Little Desciption of Your Listing"
            class="form-control"
            required
          ></textarea>
        <div class="invalid-feedback">Write a short description</div>
        </div>
         
        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input
            type="file"
            name="listing[image]"
            class="form-control"
            required
          />
        </div>
        <div class="row">
            <div class="mb-3  col-md-4">
              <label for="price" class="form-label">Price</label>
              <input
                 type="number"
                name="listing[price]"
                placeholder="12000"
                class="form-control"
                required
              />
              <div class="invalid-feedback">Price is Should be Valid</div>
            </div>
            <div class="mb-3 col-md-8 ">
              <label for="country" class="form-label">Country</label>
              <input
                type="text"
                name="listing[country]"
                placeholder="enter the country"
                class="form-control"
                required
              />
              <div class="invalid-feedback">Country Name is Required</div>
            </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            placeholder="enter the location"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location is required</div>
        </div>
        <button class="btn btn-dark add-btn mt-3">Add</button>
      </form>
    </div>
  </div>
  <!-- <script src="/js/script.js"></script> -->
</body>


 
  <script>
    let newForm = document.getElementById("new-Form")
    if(screen.width<862){
        newForm.classList.remove("col-6","offset-3")
    }
</script>
 